.Button {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 10px 10px;
  margin: 5px 10px;
  border-radius: 10px;
  font-family: "Zen Tokyo Zoo", cursive;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #3d31d8 0%, #67638c 51%, #3d31d8);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
.Button:hover {
  background-position: right center;
}