.ActorList {
  margin: 10px;
  line-height: 1.5;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 16px;
  margin-top: 15px;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
}
.ActorItem {
  margin: 15px;
}

.ActorImg {
  height: 200px;
  display: block;
  text-align: center;
}
