.Navigation {
  display: flex;
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #9396aa;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
}

.NavigationLink {
  color: #261e86;
  margin-right: 100px;
  border: 1px solid adadca;
  background-color: #b0a9b7;
  border-radius: 6px;
  padding: 10px 20px;
  font-size: 24px;
  font-family: "Otomanopee One", sans-serif;
}

.activeNavigationLink {
  color: #ec0a0a;
}