html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  overflow-x: hidden;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
  padding: 0;
}
/* h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  padding: 0;
  margin: 0 0 20px 0; */
/* } */
.title {
  font-size: 36px;
}
a {
  text-decoration: none;
}